@using Microsoft.Web.Infrastructure
@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
	@if (!String.IsNullOrEmpty(Convert.ToString(TempData["ProductsEditDoneMsg"])))
	{
		<h3> @TempData["ProductsEditDoneMsg"] </h3>
	}
</p>

@using (Html.BeginForm())
{

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.Active)
				</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Stock)
			</th>
			<th></th>
		</tr>
		@*
			data[0].ProductId
			data[0].ProductName
			data[1].ProductId
			data[1].ProductName
		*@

		@{
			var data = Model.ToArray();
			//public ActionResult Index(IList<Product> data)
			//@model IEnumerable<MVC5Course.Models.Product>
		}
		@for (var i = 0; i < data.Length; i++)
		{
			@Html.HiddenFor(modelItem1 => data[i].ProductId)
			<tr>
				<td>
					@Html.DisplayFor(modelItem1 => data[i].ProductName)
				</td>
				<td>
					@Html.EditorFor(modelItem1 => data[i].Price)
					@Html.ValidationMessageFor(modelItem1 => data[i].Price)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => data[i].Active)
					</td>*@
				<td>
					@Html.EditorFor(modelItem1 => data[i].Stock)
					@Html.ValidationMessageFor(modelItem1 => data[i].Stock)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
					@Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
					@Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
				</td>
			</tr>
		}

	</table>

	<button class="btn btn-primary">批次更新</button>
			}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
	@Html.HiddenFor()
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
	        @Html.DisplayFor(modelItem => item.Price)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>*@
